.list {
  margin: 0 auto;
  width: 640px;
  overflow: hidden;
}

.item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 24px 0;
  padding: 16px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.avatar {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.box {
  flex: 1;
  .username {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .text {
    margin-top: 4px;
    font-size: 1.2rem;
    white-space: pre-wrap;
  }

  .createdAt {
    font-size: 1rem;
  }

  .deleteButton {
    display: block;
    margin: 8px 0 0 auto;
    padding: 4px;
    width: 40px;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .list {
    width: 90%;
  }
}
