.loginContent {
  height: calc(100vh - 48px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContent {
  position: relative;
  padding-bottom: 112px;
  min-height: calc(100vh - 48px);
}

@media (max-width: 768px) {
}
