.input {
  padding: 8px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  &[data-width="s"] {
    width: 120px;
  }
  &[data-width="m"] {
    width: 240px;
  }
  &[data-width="l"] {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .input {
    &[data-width="s"] {
      width: 40%;
    }
    &[data-width="m"] {
      width: 60%;
    }
    &[data-width="l"] {
      width: 100%;
    }
  }
}
